{% extends 'blog/base.html' %}

{% block text %}


                  <hr>
                  <h2 class="intro-text text-center">
                     <strong>Organic Campus</strong>
                    </h2>
 <hr>
<div class="aboutImgCont">
                    <img class="img-responsive img-border img-left"  src="../../static/img/bags.jpg"/>
                    <hr class="visible-xs" style="padding: 10px;">
</div>

<h4 class="aboutTitle"> Humble Beginnings </h4>
<p>
Nimue and Alex, two science majors now in their third year at AUC, wanted to help fellow students lead healthier lives. Through a family friend, Nimue got in contact with a collective of organic farmers who were interested in helping out. BioRomeo, as these farmers call themselves,is based in the Noordoostpolder in Flevoland. Each farmer “boert” something else, which gives us quite a varied  assortment of products to choose from.
</p>
<p>
Organic Campus now delivers twice a month, and students can choose to receive a bag for 10 euro per delivery. In addition to the bag, you can select add-ons as well. The farm fresh eggs, cheese and the apple juice are very popular options.
</p>

<h4 class="aboutTitle">
Organic Campus is set up as a co-op
</h4>
<p>
This means that everyone who likes to receive these lovely organic veggies is expected to contribute some of their time. We receive the vegetables in bulk on campus – which makes them much cheaper than at the store – but then they have to be distributed into equal portions. This is where the students come into play. We are usually able to get this done in under an hour. After that it is pick up time, where one volunteer checks the names of the lists, and makes sure no one forgets their extras.
</p>
<h4 class="aboutTitle">
The future
</h4>
<p>
Organic campus recently became an official organization, to ensure its longevity. As long as there are individuals hungry for seasonal, affordable organic veggies, Organic Campus will be around to ensure that they can get them. Help us out by volunteering on veggie days and sharing recipes that make use of that week’s veggies. Organic campus is always looking for people that want to get more involved. Ideas? Suggestions? Or do you want to make OC your community project? Get in touch via the <a class="nav-link" href="{% url 'contact' %}">Contact page.</a> 
</p>

</div>
</div>

{% endblock %}

