{% extends 'blog/base.html' %}

{% block content %}

<h3 class="titleText">Organic Campus</h3>

<img style= "padding: 20px;" src="">

<div class="paragraph">
<p>
Organic Campus is an NGO that aims to make seasonal, local, organic vegetables and products available to students and others on Science Park. Every two weeks, people can order a surprise bag of vegetables for €10 and a range of extras such as eggs, cheese and mushrooms. Every bag contains one or two lesser known vegetables and recipes to introduce people to a wider variety of seasonal produce. We also host and cook a dinner with vegetables in the spotlight twice a year and a farmer’s market every spring.To make all of this possible we ask regular customers to help us host a pickup or volunteer during one of the bigger events. 
</p>
</div>

{% endblock %}

