{% load staticfiles %}
<html>
    <head>
        <title>Organic Campus</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Yantramanav:100" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
 <div class="backdrop">
	<div style="background:white; width: 75%; margin:auto; text-align: center; height: 100vh;">
	<h1 class="titleText">Organic   Campus</h1>
		<p>
		<a href="{% url 'home' %}">Home</a> |
                <a href ="{% url 'post_list' %}">About</a> |
		<a href="{% url 'recipe' %}">Recipes</a> |
		<a href="{% url 'contact' %}">Contact</a> |
		<a href="{% url 'order' %}" id="order">Order</a>
		</p>



       {% block content %}

       {% endblock %}

</div>
 </div>

<div class="secondPage" style="background-color: #E74143">
   <div style="background:white; width: 75%; margin:auto; text-align: center;">
      {% block secondPage %}
        
       {% endblock %}
   </div>
</div>



    </body>
</html>



