{% load staticfiles %}
<html>
    <head>
        <title>Organic Campus</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Yantramanav:100" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body class="backdrop">
<div class="textContainer" id="content">
     <div class="headerBar">      
	<h1 class="titleText">Organic  Campus</h1>
        <a class="nav-link" href="{% url 'home' %}"><img class="brand-logo" src="../../static/img/quartlogo.jpg"/></a>

<!-- Facebook plugin -->
        <div class="facebookDiv">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FOrganiccampusauc%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="230" height="100" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>

            <div class="nav-div">
            <ul class="nav">
                <li>
		<a class="nav-link" href="{% url 'home' %}">Home</a> 
                </li>
                <li>
                 
                <span class="dropdown">
                
                    <a class="nav-link" href ="">About</a> 
                    
                    <div class="dropdown-content">
                    
                    
                     <p>  
                       <a class="nav-link" href="{% url 'about_us' %}"><p>Organic Campus</p></a>
                       </p>
                       <p>
                       <a class="nav-link" href="{% url 'bioromeo' %}"><p>Bioromeo</p></a>
                       </p>
                       <p>
                       <a class="nav-link" href="{% url 'board' %}"><p>The Board</p></a>
                       </p>
                   
                </div>
                </li>
                </span>
                <li>
                 <a class="nav-link" href="{% url 'recipe' %}">Recipes</a> 
                </li>
                <li>
		<a class="nav-link" href="{% url 'contact' %}">Contact</a> 
                </li>
                <li>
		<a class="nav-link" href="{% url 'order' %}" id="order">Order</a> 
                </li>
	    </ul>
            </div> 
          </div>

<div class="contentBlock">
       {% block content %}

       {% endblock %}
</div>
</div>
 </div>

<!--
<div class="secondPage">
-->

<div>
   <div style="background:white; width: 75%; margin:auto; text-align: center;">
      {% block secondPage %}
        
       {% endblock %}
   </div>
</div>

   </body>
</html>



