{% extends 'blog/base.html' %}

{% block content %}

<h3 class="titleText">Current Board</h3>

<div class="pageImgCont">
<img class="pageImg" style= "padding: 20px;" src="../../static/img/boardpic.jpg">
<p>From left to Right: Suzanne Mooren, Maartje Dekkin, Isobel Smith, Lauriane Noirot, Tim van Nes and Wendy Nieuwkamer</p>
</div>

<div class="paragraph">
<p>

Hi, we are the current board of Organic Campus. We take care of all the bi-weekly orders and organize the bigger events. Every Monday we have a meeting to make sure everything will go smoothly and to share our passion for good, organic food. This spring we organized two dinner events and a farmer’s market and we created this website. Before summer we will welcome some new board members as Isobel, Suzanne and Wendy will be saying goodbye. 
</p>
</div>

{% endblock %}
