{% extends 'blog/base.html' %}


{% block content %}


<div class="container-fluid">
  <h1 class="titleText">RECIPES</h1>
  <p>Select a category below to find recipe ideas</p>
  <div class="row">
    <div class="col-sm-4">
        <a class="nav-link" href="{% url 'recipe' %}">
             <img  style="max-width:98%; padding:1%; background:white;" src="../../static/img/soup.jpg"/>
         </a>
    </div>
    <div class="col-sm-4">
         <a class="nav-link" href="{% url 'recipe' %}">
             <img src="../../static/img/salad_bowl.jpg"  style="max-width:98%; padding:1%; background:white;"/>
         </a>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
	
{% endblock %}
