{% extends 'blog/base.html' %}


{% block content %}


<div class="container-fluid">
  <h1 class="titleText">RECIPES</h1>
  <p>Select a category below to find recipe ideas</p>
  <div class="row">
    <div class="col-sm-4">
        <a href="{% url 'recipe' %}">
             <img alt="soup" class="categoryImg" src="../../static/img/soup.jpg"/>
         </a>
    </div>
    <div class="col-sm-4">
         <a href="">
             <img alt="salad" class="categoryImg" src="../../static/img/salad_bowl.jpg"/>
         </a>
    </div>
    <div class="col-sm-4">
        <a href="">
            <img alt="desert" class="categoryImg"src="https://raw.githubusercontent.com/IzzySmith/site-images/master/cake.jpg">
        </a>
    </div>
  </div>
</div>
	
{% endblock %}
