{% extends 'blog/base.html' %}

{% block nav %}
                <li id="home"><a href="{% url 'post_list' %}">Home</a></li>
                <li id="recipe"><a href="{% url 'recipe' %}">Recipes</a></li> 
                <li id="contact" class="active"><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="" id="order">Order</a></li>
{% endblock%}

{% block content %}

<!--
<script type="text/javascript">
window.onload = classChange();

function classChange(){
   document.getElementById('home').removeClass = "active";
   document.getElementById('contact').className = "active";
}
</script>
--->

<h1>Contact</h1>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock %}


