{% extends 'blog/base.html' %}


{% block content %}

<h1 class="titleText">ABOUT</h1>
{% for post in posts %}
    <div class="post">
        <h1 class="titleText"><a href="{%url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p> {{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
	
{% endblock %}

{% block secondpage %}

    {% for recipe in recipes %}
        <div class="recipe">
            <h1 class="titleText"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.instructions|linebreaksbr }}</p>
        </div>
    {% endfor %}

{% endblock %}

