{% extends 'blog/base.html' %}

{% block content %}
    <div class="recipe">
        <h1>{{ recipe.title }}</h1>
        <h3>{{ recipe.category }}</h3>
        <h6>{{ recipe.difficulty }}</h6>
        {% if recipe.figure %}
            <div><img style="max-width:150px; max-height:150px;" src=" {{ recipe.figure.url }} "/></div>
        {% endif %}
        <h6> Ingredients </p>
        <p>{{ recipe.ingredients|linebreaksbr }}</p>
        <h6> Instructions </h6>
        <p>{{ recipe.instructions|linebreaksbr }}</p>
    </div>
{% endblock %}
