body{
    background: url("../img/veg2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.contentBlock {
    padding: 50px;
    margin-top: 150px;
}

.pageImgCont {
   margin: 0 auto;
   width: 400px;
   font-size: 16px;
}

.pageImg {
   max-width: 400px;
   max-height: 300px;
   height: auto;
   width: auto;
   overflow: hidden;
}

#brandwell {
    text-align: center;
}

#brandwell h1 {
    color: #ff3333;
}

#endbrand {
    text-align: center;
    display: block;
    background-image: url("../img/salad.jpg"); 
}

#endbrand h2 {
   color: #000000;
}

#endbrand h1 {
   color: #ffffff;
}

/*Paragraph for static page text */
.paragraph {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}

/*Top Bar */
.headerBar {
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    z-index: 5;
    position: absolute;
    width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width:70%;
    margin: auto;
}

.carousel-control.right {
   color: white;
   background: #ff3333; /* For browsers that do not support gradients */  
   background:rgba(255,255,255,0.8);
   /*  
   background: -webkit-linear-gradient(left, rgba(255,230,230,0), rgba(255,230,230,1)); 
   background: -o-linear-gradient(right, rgba(255,230,230,0), rgba(255,230,230,1)); 
   background: -moz-linear-gradient(right, rgba(255,230,230,0), rgba(255,230,230,1)); 
   background: linear-gradient(to right, rgba(255,230,230,0), rgba(255,230,230,1)); 
   */
}

.carousel-control.left {
   color: white;
   background: #ff3333; /* For browsers that do not support gradients */    
   background:rgba(255,255,255,0.8);
   /*
   background: -webkit-linear-gradient(right, rgba(255,230,230,0), rgba(255,230,230,1));
   background: -o-linear-gradient(left, rgba(255,230,230,0), rgba(255,230,230,1)); 
   background: -moz-linear-gradient(left, rgba(255,230,230,0), rgba(255,230,230,1));
   background: linear-gradient(to left, rgba(255,230,230,0), rgba(255, 230,230,1)); 
   */
}

.page-header {
    background-color: #ff3333;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
       font-family: 'Yantramanav', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: red;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.backdrop {
  background: url('../img/salad.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.secondPage {
   background-image: url('../img/sberries.jpg');
   size: cover;
}

.offPageBackdrop {
   background-image: url('../img/salad.jpg');
   size: cover;
}

.title {
   width: 474px;
   background-color: #FFFFFF;
   margin: 0 auto;
   opacity: 0.7;
}

.brand-before {
   color: #000000;
}

.image-logo {
    display: block; 
    margin:auto; 
    /*
    border: 1px solid;
    */
    padding: 20px;
}

.titleText {
   color: #000000;
   font-family: 'Yantramanav', sans-serif;
   font-weight: bold;
}

p {
   color: #000000;
   font-weight: bold;
   font-size: 20px;
   font-family: 'Yantramanav', sans-serif;
}

nav-link {
   color: #000000;
   font-weight: bold;
   font-size: 22px;
   font-family: 'Yantramanav', sans-serif;
   display: inline-block;
}


h6 {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Yantramanav', sans-serif;
}
.contactButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
   
.contactButton:hover {
   background-color: #006600;
}

.jotform {
   max-height: 400px;
}

.textContainer {
    background: white;
    margin-top: 0;
    margin: 0 auto;
    text-align: center;
    padding-top: 0;
    padding: 0px;
    height: 100vh;
    width: 75%;
    z-index: 1;
    position: absolute;
    margin-left: 15%;
    margin-right: 15%;
}

.unfixedTextContainer {
    background:white;
    width: 75%; 
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

/* create dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: #EEE;
    list-style: none;
    position: absolute;
    padding: 12px 14px;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/* home brand image link */
.brand-logo {
    position: absolute;
    top: 15px;
    left: 50px;
    max-width:100px;
    max-height: 100px;
    z-index:inherit;
}

/* Facebook plugin */
.facebookDiv {
 position: absolute; 
 top: 15px; 
 right: 50px;
 z-index: inherit;
}

/* div styling */
.nav-div {
    text-align: center;
    margin: auto;
}

.nav {
    list-style: none;
    /*float: left;*/
    width: 70%;
    margin: auto;
}

.nav li a {
   color: #000000;
   font-family: 'Yantramanav', sans-serif;
   font-weight: bold;
   font-size: 20px;
}

.nav li {
    /*float: left;*/
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

