#brandwell {
    text-align: center;
    display: block;
    margin-left: auto;  
    margin-right: auto;
    background-image: url("../img/field.jpg"); 
    width:100%; 
    height:100%;
}

#endbrand {
    text-align: center;
    display: block;
    margin-left: auto;  
    margin-right: auto;
}

body  {
    background-image: url("");
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width:70%;
    margin: auto;
}

.carousel-control.right {
   color: green;
   background: #ff3333; /* For browsers that do not support gradients */    
   background: -webkit-linear-gradient(left, rgba(255,230,230,0), rgba(255,230,230,1)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, rgba(255,230,230,0), rgba(255,230,230,1)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, rgba(255,230,230,0), rgba(255,230,230,1)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, rgba(255,230,230,0), rgba(255,230,230,1)); 
}

.carousel-control.left {
   color: green;
   background: #ff3333; /* For browsers that do not support gradients */    
   background: -webkit-linear-gradient(right, rgba(255,230,230,0), rgba(255,230,230,1));
   background: -o-linear-gradient(left, rgba(255,230,230,0), rgba(255,230,230,1)); 
   background: -moz-linear-gradient(left, rgba(255,230,230,0), rgba(255,230,230,1));
   background: linear-gradient(to left, rgba(255,230,230,0), rgba(255, 230,230,1)); 
}

.page-header {
    background-color: #ff3333;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

Then surround the HTML code which displays the posts with declarations of classes. Replace this:

blog/templates/blog/post_list.html

{% for post in posts %}
    <div class="post">
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

in the blog/templates/blog/post_list.html with this:

blog/templates/blog/post_list.html

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

